/* CODE START */
@media only screen and (min-width: 993px) {
}

@media only screen and (min-width: 768px) and (max-width: 992px) {
}

@media only screen and (min-width: 577px) and (max-width: 767px) {
}

@media only screen and (max-width: 576px) {
  .header {
    width: 100%;
  }
  .header_content {
    width: 100%;
  }
  .tp_content {
    grid-template-columns: repeat(1, 1fr);
  }
  .tp_blogs {
    grid-template-columns: repeat(1, 1fr);
  }
  .lc_container {
    flex-direction: column;
  }
}
/* CODE END */
