* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}
:root {
  --wrapper: 100%;
  --wrap: 870px;
  --center: 0 auto;
  --mainbgc: #f3f1ff;
  --sbgc: #562eff;
  --cwhite: #fff;
  --cblack: #000;
  --cone: #ffe4e8;
  --ctwo: #ff5d71;
  --cthree: #8062ff;
}
body {
  background-color: var(--mainbgc);
}
.header {
  width: var(--wrapper);
  background-color: var(--sbgc);
  margin-bottom: 35px;
}
.header_content {
  width: var(--wrap);
  display: flex;
  justify-content: space-between;
  margin: var(--center);
  align-items: center;
  height: 95px;
}
.hc_logo {
  display: flex;
  align-items: center;
}
.hc_logo p {
  font-weight: 500;
  font-size: 24px;
  color: var(--cwhite);
}
.hc_logo img {
  width: 41px;
  height: 51px;
  margin-right: 20px;
}
.hc_menu {
  display: flex;
}
.hc_menu img {
  width: 51px;
  height: 51px;
}
.main {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.hc_nav {
  display: flex;
  align-items: center;
}
.hc_nav li {
  list-style: none;
  margin-right: 35px;
}
.hc_nav li a {
  text-decoration: none;
  color: var(--cwhite);
}
.top_players {
  background-color: var(--cwhite);
  padding: 30px;
  border-radius: 10px 10px 0px 0px;
}
.top_players h2 {
  font-size: 24px;
  color: var(--cthree);
  margin-bottom: 40px;
}
.tp_content {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  row-gap: 30px;
  column-gap: 120px;
  margin-bottom: 30px;
}
.tp_player {
  display: flex;
  align-items: center;
}
.tp_player img {
  width: 56px;
  height: 56px;
  margin-right: 16px;
}
.tp_player h3 {
  font-size: 18px;
}
hr {
  border: 1px solid #d1d1d1;
}
.top_blogs {
  background-color: var(--cwhite);
  padding: 5px 30px;
  border-radius: 0px 0px 10px 10px;
}
.top_blogs h2 {
  font-size: 24px;
  color: var(--cthree);
  margin-bottom: 40px;
  margin-top: 5px;
}
.tp_blogs {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-row-gap: 26px;
  grid-column-gap: 80px;
}
.tp_blog {
  display: flex;
}
.tpb_thumbnail img {
  width: 177px;
  height: 117px;
}
.tp_blog_info {
  margin-left: 16px;
}
.tp_blog_title {
  font-weight: 500;
  font-size: 20px;
  line-height: 34px;
}
.tp_blog_author {
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
}
.tp_blog_author a {
  color: var(--sbgc);
  text-decoration: none;
}
.lates_course {
  background-color: var(--cwhite);
  margin-top: 40px;
  padding: 30px;
  border-radius: 10px;
  margin-bottom: 50px;
}
.lates_course h2 {
  font-size: 24px;
  color: var(--cthree);
  margin-bottom: 40px;
  margin-top: 5px;
}
.lc_container {
  display: flex;
  justify-content: space-between;
}
.lc_content {
  margin-right: 50px;
  box-shadow: 0 6px 16px rgb(0 0 0 / 15%);
  border-radius: 10px;
  padding: 20px;
}
.lc_course_thumbnail {
}
.lc_course_thumbnail img {
  width: 320px;
  height: 175px;
}
.lc_course_info {
  display: flex;
  justify-content: space-between;
}
.fa-star {
  font-size: 12px;
}
.fa-star.filled {
  color: #ffc014;
}
.fa-star.unfilled {
  color: #aeaeae;
}
.lc_course_duration {
  background-color: #ffe4e8;
  padding: 0px 10px;
  border-radius: 15px;
  color: var(--ctwo);
  font-size: 15px;
}
